/* --- Variables --- */
$primary: #18a2dc;
$color: #4a4a4a;
$black: #000000;
$white: #ffffff;
$bg: #e9e9e9;
$light-color: #b3b3b3;
$red: #e42d43;
/* --- Mixins --- */
@mixin setfont($size, $weight, $family) { font: { size: $size; weight: $weight; family: $family, helvetica, san-serif, arial; } }
@mixin darken_hover($background) { background-color: $background; &:hover{ background-color: darken($background, 5%); } }
@mixin darken_hover_active($background) { background-color: $background; &:hover{ background-color: darken($background, 5%); &:active{ background-color:darken($background, 10%); }} }
@mixin background_with_icon($background) { background-color: $background; & .ic-button{ @include darken_hover(darken($background, 5%)) } }
@mixin bg_darken($background) { background-color: $background; & .darken{ background-color:darken($background, 5%); } }
@mixin darken_color_hover($color) { color: $color; &:hover{color:darken($color, 20%); } }
/* --- Definitions --- */
* { outline: none; box-sizing: border-box; font-family: 'Circular', 'Avenir', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
html, body { background-color: $bg; padding: 0px; margin: 0px; color: $color; }
.button, button { cursor: pointer; font-size: 16px; @include darken_hover_active($primary); font-weight: bold; color: $white; border: 0px; padding: 12px 50px; border-radius: 3px; &.clear { background-color: transparent; @include darken_color_hover($light-color); &:active { background-color: transparent; } } &.bordered { border: 2px solid $primary; @include darken_hover_active($white); color: darken($primary, 5%); padding: 10px 50px; } &.long { min-width: 220px; } &.bar { width: 100%; } }
input[type="text"],input[type="password"] { font-size: 14px; border: 0px; border: 1px solid lighten($light-color, 22%); padding: 10px 15px; background-color: $white; border-radius: 3px; transition: 0.3s all ease-in-out; &:focus { box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.07); border: 1px solid lighten($light-color, 24%); } &.bar { width: 100%; } &.alt { border-color: $primary; border-width: 2px; }  }
label { font-size: 14px; color: lighten($color, 5%); padding: 5px 0px; display: block; }
p { line-height: 1.6; text-align: left; }
header { position: fixed; top: 0px; left: 0px; width: 100vw; height: 90px; background-color: $white; box-shadow: 0px 4px 4px 0px rgba(204, 204, 204, 0.5); display: flex; justify-content: center; align-items: center; }
header > div { width: 90%; max-width: 1200px; align-self: center; height: 100%; display: flex; }
header .logo { width: 25%; text-align: left; display: flex; justify-content: left; align-items: center; }
header .header-links { width: 50%; }
header .header-actions { width: 25%; height: 100%; display: flex; justify-content: flex-end; align-items: center; align-self: flex-end; }
header .header-links ul { list-style: none; display: flex; height: 100%; justify-content: center; margin: 0px; }
header .header-links ul li { width: 25%; display: flex; justify-content: center; align-items: center; height: 100%; flex-direction: column; }
header .header-links ul li a { position: relative; text-decoration: none; font-weight: bold; @include darken_color_hover($light-color); display: flex; flex-grow: 1; align-items: center; &.active { color: $primary; cursor: default; } &.active::after { display: block; } }
header .header-links ul li a::after { content: ""; height: 2px; width: 100%; background-color: $primary; border-radius: 1px; position: absolute; left: 0px; bottom: 0px; display: none; }
header .header-links ul li a:hover::after{ display: block; }
a { text-decoration: none; color: $primary; font-size: inherit; font-weight: bold; }
section { display: flex; justify-content: center; align-items: center; height: calc(100% - 90px); padding-top: 140px; .invert { padding-top: 0px; height: 100%; flex-direction: column; } }
.box { margin: 10px; padding: 48px; border-radius: 3px; box-shadow: 2px 2px 4px 0 rgba(204, 204, 204, 0.5); background-color: $white; align-self: center; }
#app { text-align: center; height: 100vh; }
.heading { font-size: 24px; font-weight: bold; }

.input, .select, .title { position: relative; margin-bottom: 24px; }
.input input, .title .label { position: relative; z-index: 1; }
.input .alert, .select .alert, .title .alert { position: absolute; z-index: 0; bottom: 0px; font-size: 13px; color: $red; height: 18px; transition: ease-in-out .3s all; &.active { bottom: -18px; }}
.title .label { background-color: $white; font-weight: bold; }
/* Welcome page definitions  */
section.welcome { flex-direction: column; }
section.welcome .box { margin-bottom: 100px; width: 500px; text-align: left; transition: .3s all ease-in-out; padding-right: 60px; padding-left: 60px; }
section.welcome h1.heading { font-size: 34px; margin: 0px; }
section.welcome p.sub-heading { display: block; text-align: center; }
section.welcome button.open-login { margin-top: 40px; }
section.welcome button.login { margin-bottom: 20px; }
 /* Forgot Password page definitions */
section.forgot-password { .box { width: 420px; margin-bottom: 100px; } h1.heading { margin: 0px; margin-bottom: 20px; } button { margin-top: 10px; } .forgot-password-success { width: 600px; p { text-align: center; margin-bottom: 40px; } } }
/* Join Talent Pool page definitions */
section.join-pool { .box { width: 70%; margin-bottom: 100px; padding: 50px 0px; padding-right: 50px; } .plain { text-align: left; h1 { font-size: 32px; margin: 0px; margin-bottom: 20px; } p { margin-top: 20px; margin-bottom: 40px; } } }
/* Complete Profile process page definitions */
section.complete-profile { .welcome-message { width: 540px; margin-top: -50px; h1 { text-align: left; margin-top: 0px; } .buttons { padding-top: 30px; text-align: right; button.clear { padding-right: 15px; } } } section.invert { width: 100%; margin-top: -100px; } }
div.process-stager { width: 60%; padding: 20px 40px; .stage { position: relative; display: flex; flex-direction: column; align-items: center; padding: 0px; width: 26.66% !important; &::before { content: ""; position: absolute; top: calc(30% - 2px); height: 2px; background-color: lighten($light-color, 20%); left: -46%; width: 90%; z-index: 0; } &.active{ .counter { background-color: $primary; border: 0px; color: $white; } &::before { background-color: $primary; display: block; } } &:first-child { align-self: flex-start; width: 50px !important; margin-right: calc(18% - 50px); &::before { display: none !important; } } .counter { z-index: 1; font-size: 18px; padding-top: 7px; margin-bottom: 10px; border: 1px solid $light-color; color: $light-color; border-radius: 20px; height: 40px; width: 40px; background-color: $white; } } }
div.process-form { width: 60%; margin-top: 30px; .title { margin-top: 0px; } .forms { text-align: left; width: 70%; ul.grid li { padding: 0px; &.alt { width: 30%; margin-left: 20px; } } .other-roles { .select { margin-bottom: 10px;} } } .form-footer { margin-top: 20px; } .add-more-roles-btn { margin-top: 15px; margin-bottom: 15px; display: inline-block; }}
/* Grid customization */
ul.grid{clear:both;box-sizing: content-box;margin:auto -40px; list-style: none;}
ul.grid::after{visibility:hidden;display:block;content:" ";height:0;font-size:0;clear:both;}
ul.grid > li{float:left;padding:0px 40px;}
ul.grid.grid-2 > li{width:50%;}
ul.grid.grid-3 > li{width:33.3333%;}
ul.grid.grid-4 > li{width:25%;}
ul.grid.grid-5 > li{width:20%;}
ul.grid.separator > li{border-left:1px solid darken(white, 10%);}
ul.grid.separator > li:first-child{border-left:0px;}
/* Caret customization */
.dc-caret { display: inline-block; vertical-align: middle; font-size: 12px; &.right { transform: rotate(270deg); } &.left { transform: rotate(90deg); } &.upward { transform: rotate(180deg); } }
/* Select customization */
div.cs-select{display:inline-block;vertical-align:middle;position:relative;text-align:left;background:#fff;z-index:100;width:100%;max-width:500px;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}div.cs-select:focus{outline:0}.cs-select select{display:none}.cs-select span{display:block;position:relative;cursor:pointer;padding:1em;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.cs-select>span{padding-right:3em}.cs-select .cs-selected span::after,.cs-select>span::after{speak:none;position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.cs-select>span::after{font-family:ttv;content:'\e800';right:1em}.cs-select .cs-selected span::after{content:'\e800';margin-left:1em}.cs-select.cs-active>span::after{-webkit-transform:translateY(-50%) rotate(180deg);transform:translateY(-50%) rotate(180deg)}.cs-select .cs-options{position:absolute;overflow:hidden;width:100%;background:#fff;visibility:hidden}.cs-select.cs-active .cs-options{visibility:visible}.cs-select ul{list-style:none;margin:0;padding:0;width:100%}.cs-select ul span{padding:1em}.cs-select ul li.cs-focus span{background-color:#ddd}.cs-select li.cs-optgroup ul{padding-left:1em}.cs-select li.cs-optgroup>span{cursor:default}
.cs-select { border: 1px solid lighten($light-color, 22%); border-radius: 3px; &:focus { border: 2px solid $primary; } &.alt { border: 2px solid $primary; }}
.cs-select .cs-placeholder { padding: 8px 15px; }
.cs-select.default ul li span::after { display: none; }
.cs-select.default .cs-options { box-shadow: 2px 2px 4px 0 rgba(204, 204, 204, 0.5); top: calc(100% + 2px); border-radius: 0px 0px 2px 2px; }
.cs-select.default ul li:last-child { border-radius: 0px 0px 2px 2px; }
.cs-select.default ul li:hover { background-color: $primary; color: $white; }
.cs-select.default span, .cs-select.default ul span { padding: 10px 15px; }
.cs-select.default > span::after { content: '\eb1c'; font-family: "dc"; }
.cs-select.default.alt > span::after { color: $primary; }
.cs-select.default:disabled { background-color: lighten($light-color, 15%); }

/* Modal customization */
div.modal .overlay { left: 0px; top: 0px; position: fixed; height: 100vh; width: 100vw; background-color: rgba(0,0,0,0.32); z-index: 1001; }
div.modal .dialog-container { top: 0px; left: 0px; position: fixed; height: 100vh; width: 100vw; z-index: 1002; overflow-x: hidden; overflow-y: auto; padding: 100px 0px; }
div.modal .dialog { position: relative; max-width: 800px; background-color: $white; border-radius: 3px 3px 0px 0px; }
div.modal .dialog .close { position: absolute; top: 10px; right: 10px; padding: 10px; cursor: pointer; color: $light-color; }
div.modal .header { font-size: 18px; font-weight: bold; padding: 15px 40px; text-align: left; border-bottom: 1px solid lighten($light-color, 20%); }
div.modal .body { padding: 40px; text-align: left; max-height: 600px; overflow-y: scroll; }
div.modal .footer { position: absolute; left: 0px; top: 100%; background-color: $white; width: 100%; padding: 0px 40px 40px 40px; text-align: right; border-radius: 0px 0px 3px 3px; transition: all .3s ease-in-out; &.offset { border-top: 1px solid lighten($light-color, 20%); padding-top: 20px; }}
@keyframes modalIn { 0%{ top: -50px; opacity: 0.0; } 100% { top: 0px; opacity: 1; } }
@keyframes modalOut { 0% { top: 0px; opacity: 1; } 100% { top: -50px; opacity: 0.0; } }
@keyframes overlayIn { 0% { opacity: 0.0; } 100% { opacity: 1; } }
@keyframes overlayOut { 0% { opacity: 1; } 100% { opacity: 0; } }
.modal-transition-enter-active { animation-name: modalIn; animation-duration: .2s; animation-timing-function: ease-in-out; }
.modal-transition-leave-active { animation-name: modalOut; animation-duration: .2s; animation-timing-function: ease-in-out; }
.overlay-transition-enter-active { animation-name: overlayIn; animation-duration: .2s; animation-timing-function: ease-in-out; }
.overlay-transition-leave-active { animation-name: overlayOut; animation-duration: .2s; animation-timing-function: ease-in-out; }
@keyframes slideIn { 0%{ margin-top: -50px; opacity: 0.0; } 100% { margin-top: 0px; opacity: 1; } }
@keyframes slideOut { 0% { margin-top: 0px; opacity: 1; } 100% { margin-top: -50px; opacity: 0.0; } }
@keyframes fadeIn { 0% { opacity: 0.0; } 100% { opacity: 1; } }
@keyframes fadeOut { 0% { opacity: 1; } 100% { opacity: 0; } }
.slideup-enter-active { animation-name: slideIn; animation-duration: .4s; animation-timing-function: ease-in-out; }
.slideup-leave-active { animation-name: slideOut; animation-duration: .4s; animation-timing-function: ease-in-out; }
.fadeout-enter-active { animation-name: fadeIn; animation-duration: .4s; animation-timing-function: ease-in-out; }
.fadeout-leave-active { animation-name: fadeOut; animation-duration: .4s; animation-timing-function: ease-in-out; }

