/* --- Variables --- */
/* --- Mixins --- */
/* --- Definitions --- */
* {
  outline: none;
  box-sizing: border-box;
  font-family: 'Circular', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  background-color: #e9e9e9;
  padding: 0px;
  margin: 0px;
  color: #4a4a4a; }

#app {
  text-align: center;
  height: 100vh; }

.button, button {
  cursor: pointer;
  font-size: 16px;
  background-color: #18a2dc;
  font-weight: bold;
  color: #ffffff;
  border: 0px;
  padding: 12px 50px;
  border-radius: 3px; }
  .button:hover, button:hover {
    background-color: #1591c5; }
    .button:hover:active, button:hover:active {
      background-color: #1380ae; }
  .button.clear, button.clear {
    background-color: transparent;
    color: #b3b3b3; }
    .button.clear:hover, button.clear:hover {
      color: gray; }
    .button.clear:active, button.clear:active {
      background-color: transparent; }
  .button.bordered, button.bordered {
    border: 2px solid #18a2dc;
    background-color: #ffffff;
    color: #1591c5;
    padding: 10px 50px; }
    .button.bordered:hover, button.bordered:hover {
      background-color: #f2f2f2; }
      .button.bordered:hover:active, button.bordered:hover:active {
        background-color: #e6e6e6; }
  .button.long, button.long {
    min-width: 220px; }
  .button.bar, button.bar {
    width: 100%; }
  .button.small, button.small {
    font-size: 13px;
    padding: 8px 25px; }

input[type="text"], input[type="password"] {
  font-size: 14px;
  border: 0px;
  border: 1px solid #ebebeb;
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 3px;
  transition: 0.3s all ease-in-out; }
  input[type="text"]:focus, input[type="password"]:focus {
    box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.07);
    border: 1px solid #f0f0f0; }
  input[type="text"].bar, input[type="password"].bar {
    width: 100%; }
  input[type="text"].alt, input[type="password"].alt {
    border-color: #18a2dc;
    border-width: 2px; }

label {
  font-size: 14px;
  color: #575757;
  padding: 5px 0px;
  display: block; }

p {
  line-height: 1.6;
  text-align: left; }

ul {
  padding-left: 0px; }

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 90px;
  z-index: 500;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(204, 204, 204, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; }

header > div {
  width: 90%;
  max-width: 1200px;
  align-self: center;
  height: 100%;
  display: flex; }

header .logo {
  width: 25%;
  text-align: left;
  display: flex;
  justify-content: left;
  align-items: center; }

header .header-links {
  width: 50%; }

header .header-actions {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end; }
  header .header-actions .account-holder {
    position: relative;
    display: flex;
    cursor: pointer; }
    header .header-actions .account-holder .account-photo {
      width: 30px;
      height: 30px;
      background-color: #18a2dc;
      border-radius: 15px; }
    header .header-actions .account-holder .account-name {
      padding: 0px 10px;
      margin-top: 3px; }
  header .header-actions .account-drop {
    position: absolute;
    top: calc(100% + 10px);
    background-color: #ffffff;
    width: 180px;
    right: 0px;
    border: 1px solid #d9d9d9;
    box-shadow: 4px 4px 6px 4px rgba(40, 40, 40, 0.1);
    list-style: none; }
    header .header-actions .account-drop li {
      display: block;
      text-align: left; }
      header .header-actions .account-drop li a {
        padding: 15px 20px;
        font-weight: 100;
        width: 100%;
        display: block;
        color: #b3b3b3; }
        header .header-actions .account-drop li a:hover {
          color: #18a2dc; }
    header .header-actions .account-drop::before {
      content: "";
      position: absolute;
      top: -9px;
      right: 10px;
      width: 15px;
      height: 15px;
      border-right: 1px solid #d9d9d9;
      border-top: 1px solid #d9d9d9;
      display: block;
      transform: rotate(-45deg);
      background-color: #ffffff; }

header .header-links ul {
  list-style: none;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0px; }

header .header-links ul li {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column; }

header .header-links ul li a {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  color: #b3b3b3;
  display: flex;
  flex-grow: 1;
  align-items: center; }
  header .header-links ul li a:hover {
    color: gray; }
  header .header-links ul li a.active {
    color: #18a2dc;
    cursor: default; }
  header .header-links ul li a.active::after {
    display: block; }

header .header-links ul li a::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #18a2dc;
  border-radius: 1px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: none; }

header .header-links ul li a:hover::after {
  display: block; }

a {
  text-decoration: none;
  color: #18a2dc;
  font-size: inherit;
  font-weight: bold; }

section {
  display: flex;
  align-items: center;
  top: 90px;
  height: calc(100% - 90px);
  position: relative; }
  section .invert {
    flex-direction: column;
    overflow-y: visible; }

.box {
  margin: 10px;
  padding: 48px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px 0 rgba(204, 204, 204, 0.5);
  background-color: #ffffff;
  align-self: center; }

.heading {
  font-size: 24px;
  font-weight: bold; }

.input, .select, .title {
  position: relative;
  margin-bottom: 24px; }

.input input, .title .label {
  position: relative;
  z-index: 1; }

.input .alert, .select .alert, .title .alert {
  position: absolute;
  z-index: 0;
  bottom: 0px;
  font-size: 13px;
  color: #e42d43;
  height: 18px;
  transition: ease-in-out .3s all; }
  .input .alert.active, .select .alert.active, .title .alert.active {
    bottom: -18px; }

.title .label {
  background-color: #ffffff;
  font-weight: bold; }

/* Welcome page definitions  */
section.welcome {
  flex-direction: column;
  justify-content: center; }

section.welcome .box {
  margin-top: -100px;
  width: 500px;
  text-align: left;
  transition: .3s all ease-in-out;
  padding-right: 60px;
  padding-left: 60px; }

section.welcome h1.heading {
  font-size: 34px;
  margin: 0px; }

section.welcome p.sub-heading {
  display: block;
  text-align: center; }

section.welcome button.open-login {
  margin-top: 40px; }

section.welcome button.login {
  margin-bottom: 20px; }

/* Forgot Password page definitions */
section.forgot-password {
  justify-content: center; }
  section.forgot-password .box {
    width: 420px;
    margin-bottom: 100px; }
  section.forgot-password h1.heading {
    margin: 0px;
    margin-bottom: 20px; }
  section.forgot-password button {
    margin-top: 10px; }
  section.forgot-password .forgot-password-success {
    width: 600px; }
    section.forgot-password .forgot-password-success p {
      text-align: center;
      margin-bottom: 40px; }

/* Join Talent Pool page definitions */
section.join-pool {
  justify-content: center; }
  section.join-pool .box {
    width: 70%;
    margin-top: -200px;
    padding: 50px 0px;
    padding-right: 50px; }
  section.join-pool .plain {
    text-align: left; }
    section.join-pool .plain h1 {
      font-size: 32px;
      margin: 0px;
      margin-bottom: 20px; }
    section.join-pool .plain p {
      margin-top: 20px;
      margin-bottom: 40px; }

/* Complete Profile process page definitions */
section.complete-profile {
  justify-content: center; }
  section.complete-profile .welcome-message {
    width: 540px;
    margin-top: -50px; }
    section.complete-profile .welcome-message h1 {
      text-align: left;
      margin-top: 0px; }
    section.complete-profile .welcome-message .buttons {
      padding-top: 30px;
      text-align: right; }
      section.complete-profile .welcome-message .buttons button.clear {
        padding-right: 15px; }
  section.complete-profile section.invert {
    width: 100%;
    position: static; }

div.process-stager {
  width: 60%;
  padding: 20px 40px; }
  div.process-stager .stage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 26.66% !important; }
    div.process-stager .stage::before {
      content: "";
      position: absolute;
      top: calc(30% - 2px);
      height: 2px;
      background-color: #e6e6e6;
      left: -46%;
      width: 90%;
      z-index: 0; }
    div.process-stager .stage.active .counter {
      background-color: #18a2dc;
      border: 0px;
      color: #ffffff; }
    div.process-stager .stage.active::before {
      background-color: #18a2dc;
      display: block; }
    div.process-stager .stage:first-child {
      align-self: flex-start;
      width: 50px !important;
      margin-right: calc(18% - 50px); }
      div.process-stager .stage:first-child::before {
        display: none !important; }
    div.process-stager .stage .counter {
      z-index: 1;
      font-size: 18px;
      padding-top: 7px;
      margin-bottom: 10px;
      border: 1px solid #b3b3b3;
      color: #b3b3b3;
      border-radius: 20px;
      height: 40px;
      width: 40px;
      background-color: #ffffff; }

div.process-form {
  width: 60%;
  margin-top: 30px; }
  div.process-form .title {
    margin-top: 0px; }
  div.process-form .forms {
    text-align: left;
    width: 70%; }
    div.process-form .forms ul.grid li {
      padding: 0px; }
      div.process-form .forms ul.grid li.alt {
        width: 30%;
        margin-left: 20px; }
    div.process-form .forms .other-roles .select {
      margin-bottom: 10px; }
  div.process-form .form-footer {
    margin-top: 20px; }
  div.process-form .add-more-roles-btn {
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block; }
  div.process-form .integrations {
    width: 100%; }
    div.process-form .integrations .input {
      width: 70%;
      display: inline-block;
      margin-right: 10px; }
    div.process-form .integrations .name {
      font-weight: bold; }
    div.process-form .integrations *[class^="dc-"] {
      font-size: 34px;
      vertical-align: middle; }
    div.process-form .integrations ul.grid {
      border-bottom: 1px solid #f3f3f3;
      margin: 0px;
      padding-top: 10px;
      padding-left: 0px; }

/* Profile page definitions */
/* Grid customization */
ul.grid {
  clear: both;
  box-sizing: content-box;
  margin: auto -40px;
  list-style: none; }

ul.grid::after {
  visibility: hidden;
  display: block;
  content: " ";
  height: 0;
  font-size: 0;
  clear: both; }

ul.grid > li {
  float: left;
  padding: 0px 40px; }

ul.grid.grid-2 > li {
  width: 50%; }

ul.grid.grid-3 > li {
  width: 33.3333%; }

ul.grid.grid-4 > li {
  width: 25%; }

ul.grid.grid-5 > li {
  width: 20%; }

ul.grid.separator > li {
  border-left: 1px solid #e6e6e6; }

ul.grid.separator > li:first-child {
  border-left: 0px; }

/* Caret customization */
.dc-caret {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  transition: all .2s ease-in-out; }
  .dc-caret.right {
    transform: rotate(270deg); }
  .dc-caret.left {
    transform: rotate(90deg); }
  .dc-caret.upward {
    transform: rotate(180deg); }

/* Select customization */
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  z-index: 100;
  width: 100%;
  max-width: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div.cs-select:focus {
  outline: 0; }

.cs-select select {
  display: none; }

.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.cs-select > span {
  padding-right: 3em; }

.cs-select .cs-selected span::after, .cs-select > span::after {
  speak: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cs-select > span::after {
  font-family: ttv;
  content: '\e800';
  right: 1em; }

.cs-select .cs-selected span::after {
  content: '\e800';
  margin-left: 1em; }

.cs-select.cs-active > span::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }

.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
  visibility: hidden; }

.cs-select.cs-active .cs-options {
  visibility: visible; }

.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.cs-select ul span {
  padding: 1em; }

.cs-select ul li.cs-focus span {
  background-color: #ddd; }

.cs-select li.cs-optgroup ul {
  padding-left: 1em; }

.cs-select li.cs-optgroup > span {
  cursor: default; }

.cs-select {
  border: 1px solid #ebebeb;
  border-radius: 3px; }
  .cs-select:focus {
    border: 2px solid #18a2dc; }
  .cs-select.alt {
    border: 2px solid #18a2dc; }

.cs-select .cs-placeholder {
  padding: 8px 15px; }

.cs-select.default ul li span::after {
  display: none; }

.cs-select.default .cs-options {
  box-shadow: 2px 2px 4px 0 rgba(204, 204, 204, 0.5);
  top: calc(100% + 2px);
  border-radius: 0px 0px 2px 2px; }

.cs-select.default ul li:last-child {
  border-radius: 0px 0px 2px 2px; }

.cs-select.default ul li:hover {
  background-color: #18a2dc;
  color: #ffffff; }

.cs-select.default span, .cs-select.default ul span {
  padding: 10px 15px; }

.cs-select.default > span::after {
  content: '\eb1c';
  font-family: "dc"; }

.cs-select.default.alt > span::after {
  color: #18a2dc; }

.cs-select.default:disabled {
  background-color: #d9d9d9; }

/* Modal customization */
div.modal .overlay {
  left: 0px;
  top: 0px;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.32);
  z-index: 1001; }

div.modal .dialog-container {
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1002;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 100px 0px; }

div.modal .dialog {
  position: relative;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 3px 3px 0px 0px; }

div.modal .dialog .close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  color: #b3b3b3; }

div.modal .header {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 40px;
  text-align: left;
  border-bottom: 1px solid #e6e6e6; }

div.modal .body {
  padding: 40px;
  text-align: left;
  max-height: 600px;
  overflow-y: scroll; }

div.modal .footer {
  position: absolute;
  left: 0px;
  top: 100%;
  background-color: #ffffff;
  width: 100%;
  padding: 0px 40px 40px 40px;
  text-align: right;
  border-radius: 0px 0px 3px 3px;
  transition: all .3s ease-in-out; }
  div.modal .footer.offset {
    border-top: 1px solid #e6e6e6;
    padding-top: 20px; }

@keyframes modalIn {
  0% {
    top: -50px;
    opacity: 0.0; }
  100% {
    top: 0px;
    opacity: 1; } }
@keyframes modalOut {
  0% {
    top: 0px;
    opacity: 1; }
  100% {
    top: -50px;
    opacity: 0.0; } }
@keyframes overlayIn {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }
@keyframes overlayOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.modal-transition-enter-active {
  animation-name: modalIn;
  animation-duration: .2s;
  animation-timing-function: ease-in-out; }

.modal-transition-leave-active {
  animation-name: modalOut;
  animation-duration: .2s;
  animation-timing-function: ease-in-out; }

.overlay-transition-enter-active {
  animation-name: overlayIn;
  animation-duration: .2s;
  animation-timing-function: ease-in-out; }

.overlay-transition-leave-active {
  animation-name: overlayOut;
  animation-duration: .2s;
  animation-timing-function: ease-in-out; }

@keyframes slideIn {
  0% {
    top: calc(100% - 30px);
    opacity: 0.0; }
  100% {
    top: calc(100% + 10px);
    opacity: 1; } }
@keyframes slideOut {
  0% {
    top: calc(100% + 10px);
    opacity: 1; }
  100% {
    top: calc(100% - 30px);
    opacity: 0.0; } }
@keyframes fadeIn {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.slideup-enter-active {
  animation-name: slideIn;
  animation-duration: .4s;
  animation-timing-function: ease-in-out; }

.slideup-leave-active {
  animation-name: slideOut;
  animation-duration: .4s;
  animation-timing-function: ease-in-out; }

.fadeout-enter-active {
  animation-name: fadeIn;
  animation-duration: .4s;
  animation-timing-function: ease-in-out; }

.fadeout-leave-active {
  animation-name: fadeOut;
  animation-duration: .4s;
  animation-timing-function: ease-in-out; }

@keyframes account-in {
  0% {
    top: calc(100% - 30px);
    opacity: 0.0; }
  100% {
    top: calc(100% + 10px);
    opacity: 1; } }
@keyframes account-out {
  0% {
    top: calc(100% + 10px);
    opacity: 1; }
  100% {
    top: calc(100% - 30px);
    opacity: 0.0; } }
.account-drop-enter-active {
  animation-name: account-in;
  animation-duration: .4s;
  animation-timing-function: ease-in-out; }

.account-drop-leave-active {
  animation-name: account-out;
  animation-duration: .4s;
  animation-timing-function: ease-in-out; }

/*# sourceMappingURL=main.css.map */
